* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
  
body {
  background: #ffffff;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1226px;
  margin: 0 auto;
}